#terms{
    margin-top: 120px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#terms h1{
        background-color: #5c2303;
        height: 100px;
        width: 100%;
        font-size: 3rem;
        color:#c0b5ad;
        font-weight: 500;
        margin: 0px;
        padding: 0px;
        font-family: 'Alfa Slab One';
        margin-bottom: 60px;
}

.ending{
    margin-bottom: 120px;
}