a{
    cursor: pointer;
}
@media (max-width:900px){
html body{
    height:100%; 
    min-height:100%;
    min-width: 120vw !important;
    max-width: 150vw !important;
}
}
.boxContainer{
    width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.formContainer{
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 2.5px rgba(15, 15, 15, 0.19);  
}

.input{
    width: 100%;
    height: 42px;
    outline: none;
    border: 1px solid rgba(200, 200, 200, 0.3);
    padding: 0px 10px;
    border-bottom: 1.4px solid transparent;
    transition: all 200ms ease-in-out;
    font-size: 12px;
}
.input ::placeholder{
    color: rgba(200, 200, 200, 1);
}
.input :not(:last-of-type){
    border-bottom: 1.5px solid rgba(200, 200, 200, 0.4);
}

.input :focus {
    outline: none;
    border-bottom: 2px solid rgb(41, 15, 0);
}

.submitButton{
    width: 100%;
    padding: 11px 40%;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-top: 40px;
    border: none;
    margin-bottom: 20px;
    border-radius: 100px 100px 100px 100px;
    cursor: pointer;
    transition: all, 240ms ease-in-out;
    background: rgb(92, 35, 3);
    background: linear-gradient(  rgb(82, 38, 3) 20%,rgb(71, 21, 1) 100%  )
}

.submitButton :hover{
    filter: brightness(1.5);
}

.question{
    font-size: 11px;
    color: rgba(85, 6, 6, 0.8);
    font-weight: 500;
    text-decoration: none;  
}

.link{
    font-size: 11px;
    color: rgb(241, 196, 15);
    font-weight: 500;
    text-decoration: none;
    margin: 0 4px;  
}
.search-container{
    display: flex;
    justify-content: center;
}
.search-bar{
    margin-top: 100px;
    z-index: 4;
    display:flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    width: 60%;
    background-color: #141414;
}

.input-keyword{
    padding: 12px;
    font-size: 16px;
    width: 100%;
}

.search-btn a{
    padding: 5px 15px;
    color: #fff;
    border-radius: 3px;
}