.product-card{
    width: 100%;
    max-height: 80vh;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.product-card .card{
    width: 400px;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 4px 2px #68625e91;
}
.product-card .card img{
    width: 100%;
    height: 300px;
}

.content{
    padding: 5px;
}

.row{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row h2{
    font-weight: 700;
    margin-bottom: 2px;
}
.row h3{
    display: flex;
    justify-content: center;
}

.content p{
    color: #a6a6a6;
    font-size: 13px;
    margin-bottom: 20px;
}
.buy-btn{
    display: flex;
    justify-content: center;
}
.buy-btn a{
    padding: 5px 15px;
    background-color: #5c2303;
    color: #fff;
    border-radius: 3px;
}
.category{
    padding: 5px 15px;
    border: 2px solid #5c2303;
    border-radius: 5px;
    color: #5c2303;  
    display: inline-block;
}

.bg{
    background-color: #77533eda;
}
.margin-60-top{
    margin-top: 60px;
}
  .product-list-container{
    width: 100%;
    margin: 80px auto;
    padding: 20px;
  }
  .see-more{
      display: flex;
      margin-bottom: 24px;
  }
  .product-list-container .see-more h5 a{
    font-size: 20px;
    padding: 0px;
    margin: 20px 0 0 14px;
   text-decoration: underline;
   color: black;
  }

  .single-product-container{
    margin: 60px 26px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  .featured-title{
      color: white;
      font-weight: 700px;
      font-size: 50px;
  }

  @media(max-width: 900px){
    .single-product-container{
        grid-template-columns: repeat(2, 1fr);
        margin: 30px 20px;
    }
}